
 .blue {
   color: skyblue;
    }

 .pink {
  color:rgb(255,192,203);
    }

 h1 {
    font-size: 2rem;
    letter-spacing: 1.2em;
    text-shadow: 3px 3px 2px gray;
    border-bottom: solid 3px rgb(115,115,114);
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    }
 
  
 html {
    font-size: 20px;
    }

 body {
    text-align: center;
    font-family: "Arial", "Meiryo", sans-serif;
    }
 
#basic {
      font-weight: bold;
    }