
 .blue {
    color: skyblue;
 }

 .pink {
  color:rgb(255,192,263);
}

 h1 {
    font: size 40px;
    letter-spacing: 1.2em;
    text-shadow: 2px;
    border-bottom: 3px rgb(115,115,114);

   .josefin-sans-<uniquifier> {
   font-family: "Josefin Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
 }
 }
  
 p {
    font-size: 20px;
 }

 body {
    text-align: center;
    font-family: "Arial", "Meiryo", sans-serif;
    }
 
#basic {
      font-weight: bold;


}